:root{
  /* Colores */
  --bitcoin-orange: #F7931A;
  --soft-orange:  #ffe9d5;
  --secundary-blue : #1A9AF7;
  --soft-blue: #1A9AF7;
  --warm-black: #201E1C;
  --black: #282623;
  --grey:  #BABABA;
  --off-white: #FAF8F7;
  --just-white: #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 290px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  
}
header .logo{
  width: 150px;
  height: 24px;
  margin-top: 36px;
}
.header--title-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  color: var(--just-white);
}
.header--title-container h1{
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.4rem;
}
.header--title-container p{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: var(--soft-orange);
}
.header--title-container .header-button{
  position: relative;
  width: 229px;
  height: 48px;
  top:50px;
  padding: 15px 22px 15px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  color: var(--warm-black);
}
.header--title-container .header-button img{
  justify-content: center;
  margin-left: 14px;
  width: 12px;
}
.main--exchange-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  background-color:var(--off-white);
}
.main--exchange-container .main--exchange-img{
  width: 195px;
  margin-top: 77px;
}
.main--exchange-title{
  text-align:center;
  margin-top:40px;
  padding:0 14px;
  line-height: 1.8rem;
}
.main--exchange-title h2{
  font-size:2.4rem;
  margin-bottom:24px;
}
.main--exchange-title p{
  font-size: 1.4rem;
  margin-bottom: 48px;
  font-weight: 500;
  color: #757575;
}
.main--exchange-rates {
  display:grid;
  justify-content: center;
  min-width: 288px;
  max-width: 900px;  
}
.main--exchange-rates h2{
  font-size: 1.8rem;
  align-self: start;
  line-height: 23px;
  font-weight: bold;
  color:#FF9536;
  margin-bottom: 12px;
}
.main-exchange-rates-container{
  display: grid;
  grid-template-columns: 101px  95px ;
  grid-template-rows: repeat(4, 39px);
  align-items: center;
  color: #B5B0AC;
  font-weight: 500;
  border-radius: 8px ;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-family: "Inter";

}

.main-exchange-rates-container p{
  display: flex;
  align-items: center;
  justify-content: center;

}
.main-exchange-rates-grid{
  padding: 10px 12px;
}
.main-exchange-rates-container span{
  margin-left: 10px;
}
.main-exchanges-actulization{
  margin-top: 20px;
  padding:10px;
  background-color: #F7931A82;
}

.main-product-detail{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  padding: 16px;
  background-color: var(--warm-black);
}
.main-product-logo{
  position: absolute;
  top:-10px;
}
.main-product-detail h2{
  font-size: 2.4rem;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 24px;
  color: white;
}
.main-product-detail p{
  color: #808080;
  font-size: 1.4rem;
  margin-bottom: 32px;
}
.main-product-card {
  width: 288px;
  min-height: 152px;
  padding: 16px;
  background-color:var(--black);
  display: inherit;
  margin-bottom: 16px;
  flex-direction: column;
  border-radius: 10px;
  align-items: start;
}
.main-product-card figure{
  display: flex;
  margin-bottom: 12px
}
.main-product-card h3{
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.main-product-card{
  text-align: initial;
}
.bitcoin-image{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-image: url(../assets/images/bitcoinbaby.jpg);
  
}
.bitcoin-image h2{
  color:var(--just-white);
  font-size:2.4rem;
  font-weight: bold;
}
.main-plans-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  padding: 16px;
  background-color:#faf8f7 ;
}
.plans-tittle h2{
  font-size: 2.4rem;
  color: var(--warm-black);
  margin-bottom: 24px;
}
.plans-tittle p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey);
  margin-bottom: 50px;
}
.plans-container--slider{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 overflow-x: scroll;
 overscroll-behavior-x: contain;
 scroll-snap-type:  x proximity;
}
.plans-container--card{
  position: relative;
  scroll-snap-align: center;
  min-width: 190px;
  height: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--just-white);
  border-radius: 15px;
  padding:16px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  margin: 10px;
}
.recommended{
  position: absolute;
  top: -10px;
  width: 101px;
  text-align: center;
  padding: 6px 9px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
}
.plans-container--card h3{
  font-size: 1.4rem;
  color: var(--warm-black);
}
.plan-card-tittle{
  font-size: 1.4rem;
  margin-top: 31px;
  margin-bottom: 8px;
}
.plan-card-price{
  font-size: 5.2rem;
}
.plan-card-price span{
  font-size: 1.2rem;
  vertical-align: 25px;
}
.plans-card-salary{
  color: var(--grey);
  margin-bottom: 16px;
}
.plan-card-ca{
  box-sizing: border-box;
  border: 2px solid var(--bitcoin-orange);
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 5px;
  line-height: 1.4rem;
  color: var(--black);
  font-family: "DM Sans", sans-serif;
  background-color: var(--off-white);
  padding: 15px;
}
.plan-card-ca span{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  background-image: url(../assets/icons/arrow-right.svg);
}

.footer{
  display: flex;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--bitcoin-orange);
}
.footer .footer-links{
  display: flex;
  flex-direction: column;
}
.footer-links a{
  color: var(--just-white);
  text-decoration: none;
  font-size:1.4rem;
  margin-bottom: 8px;
}
.footer-links a:hover{
  text-decoration: underline;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--just-white);
}
.footer-logo p{
  font-size: 0.8rem;
}